@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
}

.header a {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
}

.nav-menu {
  display: flex;
  color: white;
}

.nav-menu li {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.nav-menu li a {
  color: rgb(206, 198, 198);
  text-decoration: none;
}

.logo {
  font-family: serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  text-decoration: none;
  background: linear-gradient(to right, #f2f2f2 0%, #d7d7d7 50%, #f2f2f2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #fff, 0 3px 0 #eee;
}

.logo:hover {
  color: #333;
  background-position: 100% 0;
  transition: background-position 0.3s ease-in-out;
}

.humberger {
  display: none;
}

.nav-menu li:hover {
  border-bottom: 2px solid;
  color: rgb(112, 29, 29);
}

.scrolled {
  background-color: rgba(112, 29, 29, 0.798);
}

@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
    background-color: rgb(19, 18, 18);
    opacity: 0.9;
  }

  .logo {
    width: 150px;
    margin-left: -9px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 0.5rem 0;
  }

  .nav-menu li a {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    top: -50px;
  }

  .humberger {
    display: initial;
    margin-left: -50%;
  }
}
