/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(https://unpkg.com/boxicons@latest/css/boxicons.min.css);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com);
*{
  padding:0;
  margin:0;
  box-sizing:border;
  font-family:'Poppins',sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
/* Footer */

.footer{
    margin-top: 80px;
    background-color: rgb(112, 29, 29);
  }
  
.foot{
    padding: 20px 0;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.footlinks h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    position: relative;
}
  
  
.footlinks h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    left: 0;
    bottom: -7px;
    background: white;
}
  
.footlinks ul li{
    margin-bottom: 15px;
}
  
.footlinks ul li a{
    font-size: 17px;
    color: #dddddd;
    display: block;
    transition: ease 0.30s;
}
  
.footlinks ul li a:hover{
    transform: translate(6px);
    color:rgb(206, 198, 198);
}
  
.social a{
    font-size: 25px;
    margin: 4px;
    height: 40px;
    width: 40px;
    color:rgb(112, 29, 29);
    background-color: rgb(89, 28, 28);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease 0.30s;
}
  
.social a:hover{
    transform: scale(1.2);
    
}
  
  .end{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
  }
  
.end p{
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  
  .footlinks {
    text-align: center;
  }
  
  .footlinks h4::before {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .footlinks ul li {
    margin-bottom: 10px;
  }
  
  .social {
    margin-top: 20px;
  }
}
