/* Default styles */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(https://unpkg.com/boxicons@latest/css/boxicons.min.css);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com);
* {
  padding: 0;
  margin: 0;
  box-sizing: border;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body{
  background-color: black;
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(1, 0, 5, 0.3), rgba(4, 1, 17, 0.3));
}

.title {
  text-decoration: none;
  font-size: 4vh;
  color: #dddddd;
  padding: 14px 17px;
  margin-top: 32vh;
  text-align: center;
  vertical-align: center;
}

.title h1 {
  font-size: 10vh;
  text-shadow: 2px black;
  transition: ease 0.3s;
}

.title h1:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.button {
  display: inline-block;
  margin-top: 5vh;
  font-size: 25px;
  padding: 10px 30px;
  color: rgb(112, 29, 29);
  background-color: #dddddd;
  border-radius: 20px;
  text-decoration: none;
  transition: ease 0.30s;
}

.button:hover {
  transform: scale(1.1);
  color: white;
  background-color: rgb(112, 29, 29);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 3vh;
    margin-top: 20vh;
  }
  
  .title h1 {
    font-size:3px;
    margin-top: 10vh;
  }
  
  .button {
    font-size: 20%;
    padding: 8px 25px;
    margin-top: 10vh;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 2.5vh;
    margin-top: 15vh;
  }
  
  .title h1 {
    font-size:42px;
    margin-top: 10vh;
  }
  
  .button {
    font-size: 100%;
    padding: 6px 20px;
    margin-top: 30%;
  }
}
