@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(https://unpkg.com/boxicons@latest/css/boxicons.min.css);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com);

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.text {
    text-align: center;
}

.text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.rowitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.container-box {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.433);
    padding: 30px; /* Reduce padding for smaller screens */
    text-align: center;
    width: 260px;
    align-items: center;
    width: calc(31% - 87px);
}

.container-image img {
    border-radius: 50%;
    margin-left: 10%;
    height: 150px; /* Adjust height for smaller screens */
    width: 150px; /* Adjust width for smaller screens */
    object-fit: cover; /* Use cover for smaller screens */
    margin-bottom: 15px;
}

.container-box h4 {
    font-size: 20px; /* Adjust font size for smaller screens */
    color: black;
    font-weight: initial bold;
    margin-bottom: 10px;
}

.container-box p {
    font-size: 12px; /* Adjust font size for smaller screens */
    color: #666;
}

/* Media Queries */
@media (max-width: 768px) {
    .container-box {
        width: 100%; /* Adjust width for smaller screens */
    }
    .container-image img {
      margin-left: 20%;
  }
}
